.logo {
    color: black;
    height: 5rem;
}

.logo:hover {
    border-radius: 50%;
    background-color: rgba(36, 156, 235, 0.1);
}

.info-box {
    transform: translateX(calc(var(--direction) * 50%));
}

.info-box.active {
    transform: translateX(0%);
    transition: transform 0.7s ease-in-out;
}